<div class="hero" [style.background-image]="heroImage">
    <h1 class="title text-center">vendure storefront</h1>
</div>

<div class="container">
    <div>
        <div class="top-seller">
            <ng-container *ngIf="topSellersLoaded$ | async; else placeholders">
                <vsf-product-card
                    *ngFor="let product of topSellers$ | async"
                    [product]="product"
                ></vsf-product-card>
            </ng-container>
            <ng-template #placeholders>
                <vsf-product-card
                    *ngFor="let product of placeholderProducts"
                    [product]="product"
                ></vsf-product-card>
            </ng-template>
        </div>
    </div>
    <div>
        <div class="product-list">
            <ng-container *ngIf="productListLoaded$ | async; else placeholders">
                <vsf-product-card
                    *ngFor="let product of productList$ | async"
                    [product]="product"
                ></vsf-product-card>
            </ng-container>
            <ng-template #placeholders>
                <vsf-product-card
                    *ngFor="let product of placeholderProducts"
                    [product]="product"
                ></vsf-product-card>
            </ng-template>
        </div>
    </div>
</div>
