@import "variables";

$spacer: 1rem;

.hero {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: $spacer * 3 $spacer;
    color: #d2d2d2;
    background-size: cover;
    position: relative;
    background-position: bottom;
    min-height: 350px;

    .logo {
        opacity: 0.8;
        max-width: 100%;
        margin: $spacer;
    }

    .title-container {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    .title {
        mix-blend-mode: overlay;
        color: #b1b1b1;
        font-size: 3rem;
        line-height: 0.85em;
    }

    @media all and (min-width: 768px) {
        .title {
            font-size: 5rem;
        }

        .scene {
            height: 400px;
        }
    }
}

.container {
    max-width: 1510px;
}

.top-seller {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: $spacer;
    justify-content: center;
    grid-gap: 0 3%;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: $spacer;
    justify-content: center;
    column-gap: 3%;
}
