<ng-container *ngIf="order$ | async as order">
    <h2>{{ "mechkey.checkout.orderCode" | translate }} {{ order.code }}</h2>
    <div class="fulfillmentInfo mb-1" *ngIf="order.fulfillments.length > 0">
        <b>{{ "mechkey.checkout.fulfillmentMethod" | translate }}: </b>
        <span>{{
            order.fulfillments.length > 0 ? order.fulfillments[0].method : ""
        }}</span>
    </div>
    <div class="fulfillmentInfo mb-3" *ngIf="order.fulfillments.length > 0">
        <b>{{ "mechkey.checkout.trackingCode" | translate }}: </b>
        <span>{{
            order.fulfillments.length > 0
                ? order.fulfillments[0].trackingCode
                : ""
        }}</span>
    </div>

    <div class="row">
        <div class="col-12 col-md-8">
            <vsf-cart-contents [cart]="order"></vsf-cart-contents>
        </div>
        <div class="col-12 col-md-4">
            <vsf-address-card
                title="{{ 'mechkey.checkout.shippingAddress' | translate }}"
                [address]="order.shippingAddress"
            ></vsf-address-card>
        </div>
    </div>
</ng-container>
