@use "sass:math";
@import "variables";

:host {
    display: block;
}

.container {
    max-width: 1510px;
}

.product-image {
    width: 100%;

    .main-preview {
        min-height: 250px;
    }
}

.alt-images {
    display: flex;
    flex-wrap: wrap;

    .alt-image {
        cursor: pointer;
        border: 6px solid transparent;

        img {
            min-width: 50px;
            min-height: 50px;
        }

        &.selected {
            border-color: #e1e1e1;
        }
    }
}

.product-name {
    @include media-breakpoint-down(sm) {
        font-size: 2.5rem;
    }
}

.purchase-options {
    margin: $spacer * 2 0;
}

.add-to-cart-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
        button {
            width: 100%;
            margin-top: math.div($spacer, 2);
        }
    }
}

.variant-selector {
    margin-bottom: math.div($spacer, 2);
}

.sku {
    font-size: $font-size-lg;
    color: $gray-600;
    flex: 1;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
}

.qty {
    width: 80px;
}

.placeholder-breadcrumb {
    height: 24px;
    margin: $spacer;
}

.placeholder-title {
    display: inline-block;
    height: 40px;
    width: 200px;
    margin-bottom: $spacer * 2;
}

.placeholder-description {
    height: 80px;
}

.placeholder-image {
    width: 100%;
    height: 350px;
    margin-bottom: $spacer * 4;
}
.add-to-cart-notification {
    display: flex;
    margin-bottom: $spacer;
    .thumb {
        img {
            width: 50px;
            height: 50px;
        }
    }
}

.sale-type {
    border: 1px;
    border-style: solid;
    padding: 8px 15px;
    text-transform: capitalize;
    background-color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    display: inline-block;
}

.type-instock {
    color: #49a339;
    border-color: #49a339;
}

.type-preorder {
    color: #fee548;
    border-color: #fee548;
}

.type-groupbuy {
    color: #0099db;
    border-color: #0099db;
}

.type-limited {
    color: #ff4a33;
    border-color: #ff4a33;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: $spacer;
    justify-content: center;
    column-gap: 3%;
}
