<table class="table">
    <thead>
        <tr>
            <th scope="col">{{ "mechkey.account.orderCode" | translate }}</th>
            <th scope="col">{{ "mechkey.account.status" | translate }}</th>
            <th scope="col">{{ "mechkey.account.total" | translate }}</th>
            <th scope="col">{{ "mechkey.account.lastUpdated" | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders$ | async">
            <th scope="row">
                <a [routerLink]="['./', order.code]">
                    {{ order.code }}
                </a>
            </th>
            <td>{{ order.state }}</td>
            <td>{{ order.total | formatPrice }}</td>
            <td>{{ order.updatedAt | date: "short" }}</td>
        </tr>
    </tbody>
</table>
