@import "variables";

::ng-deep {
    $pswp__assets-path: '/assets/';
    @import "~photoswipe/src/css/main";
    @import "~photoswipe/src/css/default-skin/default-skin";
}

.product-image {
    width: 100%;
}
.main-image {
    min-height: 250px;
    @include media-breakpoint-up(md) {
        min-height: 200px;
    }
    @include media-breakpoint-up(md) {
        min-height: 300px;
    }
    .main-preview {
        cursor: zoom-in;
    }

    img {
        width: 100%;
        height: auto;
    }
}
.alt-images {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .alt-image {
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        &.selected {
            border-color: #e1e1e1;
        }
    }
}
