<div class="row justify-content-around">
    <div class="card col-md-5">
        <div class="card-body">
            <h5 class="card-title">{{ "mechkey.account.changePassword" | translate }}</h5>
            <form #passwordForm="ngForm">
                <div class="form-group">
                    <label for="currentPassword">{{ "mechkey.account.currentPassword" | translate }}</label>
                    <input class="form-control" [(ngModel)]="currentPassword" name="currentPassword" type="password" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">{{ "mechkey.account.newPassword" | translate }}</label>
                    <input class="form-control" [(ngModel)]="newPassword" name="newPassword" type="password" required>
                </div>
            </form>
            <button class="btn btn-secondary mt-3"
                    [disabled]="passwordForm.invalid || passwordForm.pristine"
                    (click)="changePassword()">{{ "mechkey.account.setPassword" | translate }}</button>
        </div>
    </div>
    <div class="card col-md-5">
        <div class="card-body">
            <h5 class="card-title">{{ "mechkey.account.changeEmailAddress" | translate }}</h5>
            <ng-container *ngIf="!changeEmailAddressMessage">
                <form #emailForm="ngForm">
                    <div class="form-group">
                        <label for="password">{{ "mechkey.account.password" | translate }}</label>
                        <input class="form-control" [(ngModel)]="password" name="password" type="password" required>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">{{ "mechkey.account.newEmailAddress" | translate }}</label>
                        <input class="form-control" [(ngModel)]="emailAddress" name="emailAddress" required>
                    </div>
                </form>
                <button class="btn btn-secondary mt-3"
                        [disabled]="emailForm.invalid || emailForm.pristine"
                        (click)="changeEmailAddress()">{{ "mechkey.account.verifyNewEmailAddress" | translate }}</button>
            </ng-container>
            <ng-container *ngIf="changeEmailAddressMessage">
                <div class="alert alert-primary" role="alert">
                  {{ changeEmailAddressMessage }}
                </div>
            </ng-container>
        </div>
    </div>
</div>
