<vsf-layout>
    <vsf-layout-header>
        <div class="header">
            <div class="container">
                <vsf-mobile-menu-toggle></vsf-mobile-menu-toggle>
                <a
                    [routerLink]="['/']"
                    class="logo-link d-none d-md-inline-block"
                >
                    <img
                        src="assets/logo.png"
                        class="logo"
                        alt="Vendure Storefront"
                    />
                </a>
                <div class="flex-grow-1 d-none d-sm-block">
                    <vsf-collections-menu></vsf-collections-menu>
                </div>
                <div
                    class="flex-grow-1 d-sm-none d-flex justify-content-center"
                >
                    <a [routerLink]="['/']" class="logo-link">
                        <img
                            src="assets/logo.png"
                            class="logo"
                            alt="Vendure Storefront"
                        />
                    </a>
                </div>
                <!-- <vsf-product-search-bar class="flex-grow-1 flex-md-grow-0"></vsf-product-search-bar> -->
                <vsf-account-link class="mr-2"></vsf-account-link>
                <vsf-cart-toggle (toggle)="openCartDrawer()"></vsf-cart-toggle>
            </div>
        </div>
    </vsf-layout-header>
    <vsf-collections-menu-mobile
        [visible]="mobileNavVisible$ | async"
    ></vsf-collections-menu-mobile>
    <vsf-cart-drawer
        [visible]="cartDrawerVisible$ | async"
        (close)="closeCartDrawer()"
    ></vsf-cart-drawer>
    <div class="contents">
        <vsf-home-page *ngIf="isHomePage$ | async; else main"></vsf-home-page>
        <ng-template #main>
            <router-outlet></router-outlet>
        </ng-template>
    </div>

    <vsf-layout-footer>
        <div class="row text-muted mt-5 mb-5">
            <div class="col-md-3 text-center text-md-left">
                <h3>{{ "mechkey.nav.orders" | translate }}</h3>
                <ul class="list-unstyled">
                    <li>{{ "mechkey.nav.shipping" | translate }}</li>
                    <li>{{ "mechkey.nav.track" | translate }}</li>
                    <li>{{ "mechkey.nav.termACondition" | translate }}</li>
                    <li>{{ "mechkey.nav.returnPolicy" | translate }}</li>
                </ul>
            </div>
            <div class="col-md-3 text-center text-md-left">
                <h3>{{ "mechkey.nav.about" | translate }}</h3>
                <ul class="list-unstyled">
                    <li>{{ "mechkey.nav.aboutUs" | translate }}</li>
                    <li>{{ "mechkey.nav.contactUs" | translate }}</li>
                    <li>{{ "mechkey.nav.privacy" | translate }}</li>
                </ul>
            </div>
            <div class="col">
                <div class="social d-flex justify-content-around">
                    <fa-icon size="2x" [icon]="['fab', 'twitter']"></fa-icon>
                    <fa-icon size="2x" [icon]="['fab', 'facebook']"></fa-icon>
                    <fa-icon size="2x" [icon]="['fab', 'instagram']"></fa-icon>
                    <fa-icon size="2x" [icon]="['fab', 'youtube']"></fa-icon>
                </div>
                <div class="mailist mt-5 d-flex justify-content-around">
                    <div class="lead col-9">
                        {{ "mechkey.footer.subcribe" | translate }}
                    </div>
                    <button
                        type="button"
                        class="btn btn-outline-secondary btn-lg col-3"
                    >
                        {{ "mechkey.footer.btnSubcribe" | translate }}
                    </button>
                </div>
                <div class="switch-lang mt-2 d-flex justify-content-end">
                    <select
                        class="form-control col-3"
                        #selectedLang
                        (change)="switchLang(selectedLang.value)"
                    >
                        <option
                            *ngFor="let language of translate.getLangs()"
                            [value]="language"
                            [selected]="language === translate.currentLang"
                        >
                            {{ languageName[language] }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </vsf-layout-footer>
</vsf-layout>
