<div class="product-card">
    <ng-template [ngIf]="product" [ngIfElse]="placeholder">
        <a [routerLink]="['/product', product.slug]" class="image-wrapper">
            <img
                class="product-image"
                [src]="product.productAsset | assetPreview"
            />
            <span *ngIf="product.customFields && product.customFields.salesType" class="sale-type">{{
                product.customFields.salesType
            }}</span>
        </a>
        <div class="d-flex justify-content-between mt-2">
            <a [routerLink]="['/product', product.slug]" class="product-name">
                <h3 class="font-weight-bold">{{ product.productName }}</h3>
            </a>
            <h4 class="price font-weight-bold">
                <ng-template
                    [ngIf]="
                        product.priceWithTax.min === product.priceWithTax.max
                    "
                    [ngIfElse]="range"
                >
                    {{ product.priceWithTax.min | formatPrice }}
                </ng-template>
                <ng-template #range>
                    From {{ product.priceWithTax.min | formatPrice }}
                </ng-template>
            </h4>
        </div>
    </ng-template>
    <ng-template #placeholder>
        <div class="placeholder-image loading-placeholder"></div>
        <div class="card-body">
            <div class="placeholder-title loading-placeholder"></div>
            <div class="placeholder-body loading-placeholder"></div>
        </div>
    </ng-template>
</div>
