<form #registerForm="ngForm" (submit)="register()">
    <vsf-centered-card>
        <input
            class="form-control"
            placeholder="{{ 'mechkey.form.firstName' | translate }}"
            name="firstName"
            required
            [disabled]="registrationSent"
            [(ngModel)]="firstName"
        />
        <input
            class="form-control mt-1"
            placeholder="{{ 'mechkey.form.lastName' | translate }}"
            name="lastName"
            required
            [disabled]="registrationSent"
            [(ngModel)]="lastName"
        />
        <input
            class="form-control mt-1"
            placeholder="Email"
            name="emailAddress"
            required
            type="email"
            email
            [disabled]="registrationSent"
            [(ngModel)]="emailAddress"
        />

        <button
            class="btn btn-primary btn-block mt-3"
            [disabled]="registerForm.invalid || registrationSent"
            type="submit"
        >
            {{ "mechkey.form.register" | translate }}
        </button>
        <div *ngIf="registrationSent" class="registration-sent">
            {{ "mechkey.form.noti" | translate }}
        </div>
    </vsf-centered-card>
</form>
