<div class="card-deck">
    <vsf-address-card
        *ngFor="let address of addresses$ | async"
        [address]="address"
    >
        <a
            class="btn btn-primary btn-sm mr-1"
            [routerLink]="['./', address.id]"
        >
            {{ "mechkey.account.edit" | translate }}
        </a>
        <a class="btn btn-secondary btn-sm" (click)="deleteAddress(address.id)">
            {{ "mechkey.account.delete" | translate }}
        </a>
    </vsf-address-card>
</div>
<button class="btn btn-primary" (click)="createAddress()">
    {{ "mechkey.checkout.addAddress" | translate }}
</button>
