<form #verifyForm="ngForm" class="mt-3" (submit)="verify()">
    <vsf-centered-card
        title="{{ 'mechkey.account.almostDone' | translate }}"
        subTitle="{{ 'mechkey.account.completePasswordMes' | translate }}"
    >
        <div class="input-group mb-3">
            <input
                class="form-control"
                placeholder="{{ 'mechkey.account.password' | translate }}"
                type="password"
                name="password"
                aria-describedby="button-verify"
                required
                [(ngModel)]="password"
            />

            <div class="input-group-append">
                <button
                    class="btn btn-primary"
                    id="button-verify"
                    [disabled]="verifyForm.invalid"
                    type="submit"
                >
                    {{ "mechkey.account.createAccount" | translate }}
                </button>
            </div>
        </div>
    </vsf-centered-card>
</form>
