<form #resetForm="ngForm" (submit)="resetPassword()">
    <vsf-centered-card>
        <ng-container *ngIf="!submitted">
            <input
                class="form-control"
                placeholder="Email"
                name="emailAddress"
                type="email"
                email
                required
                [(ngModel)]="emailAddress"
            />

            <button
                class="btn btn-primary btn-block mt-3"
                [disabled]="resetForm.invalid || submitted"
                type="submit"
            >
                {{ "mechkey.account.resetPassword" | translate }}
            </button>
        </ng-container>
        <div class="alert alert-success" role="alert" *ngIf="submitted">
            {{ "mechkey.account.resetMessage" | translate }}
        </div>
    </vsf-centered-card>
</form>
